body {
    background-color: rgb(172, 113, 113);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.caixinha {
    background-color: rgb(218, 165, 187);
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgb(248, 2, 207);
    width: 300px;
}

input {
    padding: 10px;
    width: 70%;
    margin-right: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    padding: 10px;
    background-color: rgb(228, 172, 245);
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

li button {
    background-color: rgb(228, 174, 255);
    color: rgba(234, 228, 235, 0.863);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}
